name: Generate Dark Pacman

on:
  schedule:
    - cron: "0 */12 * * *"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Generate Dark Pacman
        uses: abozanona/pacman-contribution-graph@main
        with:
          github_user_name: mehmet-esat
          theme: dark
          background: "#0d1117"
          pacman_color: "#FFD700"
          ghost_color: "#FF2E63"

      - name: Deploy to output branch
        uses: crazy-max/ghaction-github-pages@v3
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
